<div class="contents_row">
  <div class="container">
    <div class="row">

      <div class="site_introduction">
        <%= image_tag("site_introduction.jpg", :class => "image_index") %>
        <div class="site_introduction_contents">
          <h1 class="site_introduction_contents_top">Returnees Network へようこそ！</h1>
          <h3 class="site_introduction_contents_bottom">このサイトは、世界中の帰国生を繋げて情報共有をするためのサービスです。</h3>
        </div>
      </div>

      <div class="row">
      <%= render :partial => "question", :collection => @questions %>
      <%= paginate(@questions) %>
      </div>

    </div>
  </div>
</div>


