//colors
$color_gimblet_approx: #bdb76b;
$silver: #c0c0c0;


//@extend-elements
//original selectors
//.theme_band, .question_band
%extend_1 {
  border: 1px solid $silver;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 7px;
  padding: 6px;
  margin: 20px;
}


html {
  width: 100%;
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background-image: image-url('background_image.jpg');
}
.contents_row {
  padding: 55px 0 0 0;
  min-height: 550px;
}
.site_introduction {
  position: relative;
  margin: 20px auto;
  width: 1000px;
}
.image_index {
  height: 250px;
  width: 1000px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 20px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px 10px $color_gimblet_approx;
}
.site_introduction_contents {
  position: absolute;
  top: 60px;
  left: 90px;
}
.site_introduction_contents_top {
  text-align: center;
}
.site_introduction_contents_bottom {
  text-align: center;
}
.image {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  float: left;
  margin: 20px 10px 0 20px;
}
.self_top {
  margin: 30px 10px 0;
  font-size: 15px;
  float: left;
  min-width: 150px;
  max-width: 150px;
  font-size: 12px;
}
.self_intro {
  border: 1px solid $silver;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 7px;
  min-width: 180px;
  min-height: 150px;
  max-width: 180px;
  max-height: 153px;
  float: left;
  margin: 20px 0 0 10px;
  padding: 7px;
  font-size: 12px;
}
.edit_profile {
  text-align: center;
  padding: 20px;
  div .btn.btn-primary.withripple {
    margin: 0 auto;
  }
}
.success {
  h3 {
    text-align: center;
  }
  div {
    text-align: center;
  }
}
.thumbnail {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
}
.theme_band {
  @extend %extend_1;
}
.question_band {
  @extend %extend_1;
  min-height: 150px;
}
.comment_band {
  text-align: right;
  margin: 0 20px 20px 0;
}
.posted_time {
  float: left;
  padding: 0 0 0 30px;
  margin: 0 30px 0 0;
}
.num_of_comments {
  float: left;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.theme_text p {
  margin: 0;
}

// html, body{
//   width: 100%;
//   min-height: 100%;
// }
// .contents_row{
//   padding: 55px 0 0 0;
//   min-height: 550px
// }
// body{
//   background-image: image-url("../background_image.jpg");
// }
// .site_introduction{
//   position: relative;
//   margin: 20px auto;
//   width: 1000px;
// }
// .image_index{
//   height: 250px;
//   width: 1000px;
//   border-radius:20px;
//   box-shadow:0px 0px 5px 10px #BDB76B;
// }
// .site_introduction_contents{
//   position: absolute;
//   top: 60px;
//   left: 90px;
// }
// .site_introduction_contents_top, .site_introduction_contents_bottom{
//   text-align: center;
// }
// .image{
//   border-radius: 50%;
//   float:left;
//   margin: 20px 10px 0 20px ;
// }
// .clearfix:after{
//   contents: "";
//   clear: both;
//   display: block;
// }
// .self_top{
//   margin: 30px 10px 0;
//   font-size: 15px;
//   float:left;
//   min-width: 150px;
//   max-width: 150px;
//   font-size: 12px;
// }
// .self_intro{
//   border:1px solid #C0C0C0;
//   border-radius: 7px;
//   min-width: 180px;
//   min-height: 150px;
//   max-width: 180px;
//   max-height: 153px;
//   float: left;
//   margin: 20px 0 0 10px;
//   padding: 7px;
//   font-size: 12px;
// }
// .edit_profile{
//   text-align: center;
//   padding: 20px;
// }
// .edit_profile div .btn.btn-primary.withripple{
//   margin: 0 auto;
// }
// .success h3{
//   text-align: center
// }
// .success div{
//   text-align: center
// }
// .thumbnail{
//   border-radius: 10px
// }
// .theme_band, .question_band{
//   border:1px solid #C0C0C0;
//   border-radius: 7px;
//   padding: 6px;
//   margin: 20px 20px 20px 20px;
// }
// .question_band{
//   min-height: 150px;
// }
// .comment_band{
//   text-align: right;
//   margin: 0 20px 20px 0;
// }
// .theme_text p{
//   margin: 0 0 0 0;
// }
// .posted_time{
//   float:left;
//   padding: 0 0 0 30px;
//   margin: 0 30px 0 0;
// }
// .num_of_comments{
//   float:left;
// }